
<div id="add-dialog" class="modal hide" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"data-bind="foreach: test">
    <div class="modal-header">
        <h3>New File</h3>
    </div>
    <div id="edit-dialog-body" class="modal-body">
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">File name</label>
            <div class="col-sm-12">
                <input class="span6" type="text" data-bind="value: fileName">
            </div>
        </div>
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Created By</label>
            <div class="col-sm-12">
                <input class="span6" type="text" data-bind="value: createdBy">
            </div>
        </div>
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Mime Type</label>
            <div class="col-sm-12">
                <input class="span6" type="text" data-bind="value: mimeType">
            </div>
        </div>
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-12">
                <input class="span6" type="text" data-bind="value: country">
            </div>
        </div>
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-12">
                <textarea class="span6" type="text" rows="3" data-bind="value: description"></textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-12">
                <input class="span6" type="text" data-bind="value: email">
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: function(params) {$root.addNew($data,params)}" aria-hidden="true">Save</button>
    </div>

</div>
