<div id="download-dialog" class="modal hide" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <h3>Details</h3>
    </div>
    <div id="edit-dialog-body" class="modal-body">
        If you have not yet received a data document, you can do it now. Confirm by selecting the download button
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" data-bind="click: $root.download" aria-hidden="true">Dwonload</button>
    </div>

</div>